<?xml version="1.0" ?>
<!--
/**
 * @package Mac_AsynLogger
 * @author Russell Albin <russell@russellalbin.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Mac_AsyncLogger::config_Mac_logger" title="Async Logger"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
